body{
    font-family: 'Ubuntu',sans-serif;
}

section{
    background-color: rgb(79, 81, 87);
    width: 500px;
    height: 90vh;
    margin: 0 auto;
    padding-top: 5%;
    border-radius: 20px;
}
.main{
    margin: auto;
    background-color: rgb(188, 250, 236);
    width: 370px;
    height: 80vh;
    border-radius: 15px;
}

.area:first-child, .area:last-child{
    padding-top:20px ;
}
.area label,.area input{
    display: block;
    margin: auto;
    width: fit-content;
    margin-bottom: 15px;
}
.area input{
    width: 80%;
    height: 30px;
    box-sizing: border-box;
}

.grp{
    width: 80%;
    box-sizing: border-box;
    margin: auto;
}
.controls{
    margin-top: 20px;
    box-sizing: border-box;
    display: inline-block;
    width: 49%;
    height: 40px;
    font-size: 1.3em;
    cursor: pointer;
    background-color: rgb(129, 193, 248);
    border: none;
}

.controls:active{
    background-color: rgb(154, 199, 238);
}